.features{
	grid-column: center-start / center-end;

	margin: 15rem 0;

	// subgrid
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	// grid row is implicit
	grid-gap: 6rem;
	align-items: start;

}

.feature{

	display: grid;
	grid-template-columns: min-content 1fr;
	// grid row is implicit

	grid-row-gap: 1.5rem;
	grid-column-gap: 2.5rem;

	&__icon{
		fill: $color-primary;
		width: 4.5rem;
		height: 4.5rem;
		transform: translateY(-1rem);

		grid-row: 1 / span 2;
		// a -1 would only work with an explicit grid
	}

	&__text{
		font-size: 1.7rem;
	}
}